* {
    margin: 0;
    padding: 0;
}

/* .container */

#page-one {
    background-color: lightgreen;
    text-align: center;
    /*  height: 100%; */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
}
button{
    outline: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    background: #428bca;
    width: 300px;
}
#page-one h1{
    margin-top: 100px;
}
#page-one p{
    margin-top: 100px;
}
#page-one button{
    margin-top: 100px;
}
.screen{
    margin-top: 10px;
}
.screen .block {
    height: 100px;
    width: 49%;
    margin: 1px;
    background-color: red;
    float: left;
}